<input #autocomplete matInput [placeholder]="placeholder" [matAutocomplete]="auto" [formControl]="formControl"
    [maxlength]="maxLength" />
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="itemSelected($event)" [displayWith]="displayWith"
    class="marginTop">
    <!-- <ng-container *ngIf="loading">
            <mat-option>
                Loading...
            </mat-option>
        </ng-container> -->

    <ng-container *ngIf="items.length > 0">
        <mat-option *ngFor="let item of items" [value]="item">
            <span *ngIf="!displayWith">{{item}}</span>
            <span *ngIf="displayWith">{{displayWith(item)}}</span>
        </mat-option>
    </ng-container>

    <ng-container *ngIf="items.length === 0">
        <mat-option>
            <small>No Results</small>
        </mat-option>
    </ng-container>
</mat-autocomplete>

<ng-container *ngIf="loading">
    <mat-progress-bar class="loading-bar" mode="indeterminate"></mat-progress-bar>
</ng-container>