<form class="example-form">
  <mat-form-field class="example-full-width">
    <omnia-autocomplete placeholder="Dropdown" [formControl]="stateCtrl" [items]="items" [displayWith]="displayWith">
    </omnia-autocomplete>

    <button mat-button *ngIf="stateCtrl.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
      <mat-icon>close</mat-icon>
    </button>

    <mat-hint>
      Hint
    </mat-hint>

    <mat-error>
      Errors!
    </mat-error>

  </mat-form-field>
</form>